{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'wide/css/wide.css' %}">
</head>
<br>
<br>
<br>


<div class="container">
    <div class="confirm_order border shadow p-3">
        <div class="row px-3">
            <p> Скачать правила подготовки макета PDF 0.6 MB или ссылка на страницу с правилами</p>
            <h1>Подтвердить заказ</h1>
            <div>
                <div class="col">
                    <h2>{{ type_production }}</h2>

                    <h5 style="color: rgb(93, 3, 131);">Размер: {{ order.wide_size }}х{{ order.heigth_size }}</h5>
                    <h5 style="color: rgb(93, 3, 131);">Материал: {{ order.material_print }}</h5>
                    <h5 style="color: rgb(93, 3, 131);">Обработка: {{ order.post_obr }}</h5>
                    <h2 style="color: rgb(145, 1, 30);">Стоимость: {{ order.cost }} руб.</h2>

                </div>
                <div class="col">
                    <h2 style="color: rgb(1, 58, 124);">Готовность: {{ ready_date|date:"d.m.Y" }}г.</h2>
                    <p>При заказе сегодня до 15:00</p>
                </div>
            </div>
            <div>
                <form class="form-control-lg " action="{% url 'wide:confirm' order.id %}" method="post">
                    {% csrf_token %}
                    <div class="row border">
                        <div class="col border">{{ form.name }}<p>Имя</p>
                        </div>tipkor@mail.ru
                        <div class="col border">{{ form.email }}<p>почта</p>
                        </div>
                        <div class="col border">{{ form.tel }}<p>телефон</p>
                        </div>
                        <div class="col border">{{ form.file }}<p>макет</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col border">
                            <button style="width: 200px;" type="submit" class="yes_button btn btn-primary" name="form">заказать</button>
                            <!-- <button href="{% url 'poly:card' %}" class="reset_button btn btn-danger" value="Сброс">Сброс</button> -->
                        </div>
                    </div>
                </form>

            </div>
        </div>





    </div>

    <br><br>



    {% endblock %}