{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'wide/css/wide.css' %}">
</head>
<br>


<!-- Заголовок коллапс блока -->
<!-- <div class="container shadow border rounded">
    <div class="card_collapse_block">
        <div class="container py-3">
            <a class="" data-bs-toggle="collapse" href="#snap_items_collapse" aria-expanded="true"
                aria-controls="snap_items_collapse">
                <h4 class="how_snap">Печать широкоформатных наклеек...</h4>
            </a>
            Блок пояснений, коллапс
            <div class="collapse" id="snap_items_collapse">
                <div class="row d-flex justify-content-start my-2">
                    карточка
                    <div class="card text-center mx-3 mb-2" style="width: 30rem;">
                        <h5 class="card-header">Обычная</h5>
                        <img src="{% static '/stamp/img/c_norm_snap.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Описание с картинками Возможно карточки (картон, офсет, тиражи)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Форма -->
<div class="container bg-light shadow border rounded my-3 pb-2">
    <!-- <hr width="100%" size="8" color="#0d6efd" /> -->
    <h1 id="calc" class="title_text pt-3">Печать широкоформатных наклеек</h1>

    <div class="calc_form border shadow rounded p-3 mt-4">

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12">
                <form class="form-control-lg " action="{% url 'wide:sticker' %}#after_calc" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            {% if form.errors %}
                            {% for error in form.errors.as_data.values %}
                            {% for data in error.0 %}
                            <h6 style="color: rgb(156, 60, 60);">{{ data }}</h6>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}
                            {{ calc_form.wide_size }}<p>Ширина баннера (м)</p>
                        </div>

                        <div class="col">
                            {% if form.errors %}
                            {% for error in form.errors.as_data.values %}
                            {% for data in error.0 %}
                            <h6 style="color: rgb(156, 60, 60);">{{ data }}</h6>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}
                            {{ calc_form.heigth_size }}<p>Высота баннера (м)</p>
                        </div>
                    </div>

                    <!-- Выбор материала баннера -->
                    <div class="row pt-4">
                        <div class="col">{{ calc_form.material_print }}<p>Материал</p>
                        </div>
                    </div>

                    <div id="after_calc" class="row">
                        <div class="col">
                            <div hidden class="col">{{ calc_form.post_obr }}<p>Обработка и люверсы (убрать обработку)
                                </p>
                            </div>
                            <button type="submit" class="calc_button btn btn-primary" name="calc_form">Расчет</button>
                            <h6>Нажмите "Расчет", что бы сформировать заказ</h6>
                        </div>
                    </div>
                </form>
            </div>

            <div class="calc_img col ">
                <img class="img-fluid" src="{% static '/wide/img/sticker.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Результат -->
<br><br>
<div class="container">
    <div class="result_info p-3 shadow border rounded">
        <div class="row py-3 mx-1 border border-bg-secondary border-2 rounded bg-light">
            <div class="col col-xl-3">
                {% if result.id and not form.errors %}
                {% if result.cost == 500 %}
                <h3>Стоимость: {{ result.cost }} руб. (минимальный заказ)</h3>
                {% else %}
                <h3>Стоимость: {{ result.cost }} руб.</h3>
                {% endif %}
                <h5>Размер: {{ result.wide_size }}х{{ result.heigth_size }}</h5>
                <h5>Материал: {{ result.material_print }}</h5>
                <!-- <h5>Обработка: {{ result.post_obr }}</h5> -->
            </div>
            <div class="col">
                <h3 style="color: rgb(1, 58, 124);">Готовность: {{ ready_date.date }} После 14:00</h3>
                <p>При согласовании сегодня до 15:00</p>
            </div>

            <div class="pt-4">
                <a class="confirm_button btn btn-success" href="confirm/{{ result.id }}#a_confirm">Оформить заказ</a>
            </div>
            <div class="more_info">
                <h6>Нажмите "Оформить заказ" для продолжения.</h6>
            </div>
            {% else %}

            <h2 style="color: rgb(145, 1, 30);">Выбирете параметры и нажмите "Расчет".</h2>

            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="bottom_text pt-4"></div>
    <div class="row px-3">
        <div class="col">
            <h5>Наклейки</h5>
            <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem commodi dicta, fuga repellat
                minus
                mollitia eveniet perferendis, incidunt alias quod a tempore quis magni numquam laboriosam, illo
                provident
                tempora!</p> -->
        </div>
    </div>
</div>


<br><br>

{% endblock %}