{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'wide/css/wide.css' %}">
</head>
<br>
<br>
<br>


<div class="container">
    <div class="confirm_order border shadow rounded p-3 bg-light">
        <div class="row">

            <h2 id="a_success">Заказ №{{ order.id }} размещен от {{ order.create_date }}</h2>

            <div>
                <div class="col">
                    <h4>Стоимость: {{ order.product.cost }} руб.</h4>
                    <h5>Продукция: {{ order.product.type_production }}</h5>
                    <h5>Размер: {{ order.product.x }}х{{ order.product.y }}</h5>
                    <h5>Материал: {{ order.product.material }}</h5>

                    <div class="col">
                        <h3 style="color: rgb(1, 58, 124);">Готовность: {{ order.ready_date.date }}</h3>
                    </div>
                    <div class="col">
                        <h5>После проверки заказа, свяжемся с вами.</h5>
                    </div>
                </div>
            </div>
        </div>
        <a href="/" type="button">На главную</a>
    </div>
</div>
<br><br>



{% endblock %}