<!DOCTYPE html>

{% load static %}

<head>
	<title>tipkor.ru</title>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- insert href of fonts -->
	<link rel="icon" href="{% static 'tipkor/img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/tipkor.css' %}">
	<script src="{% static 'tipkor/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'tipkor/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'tipkor/js/tipkor.js' %}"></script>
</head>

<body>
	<!-- Верхняя строка -->
	<div class="container pt-2">
		<div class="top_line row d-flex justify-content-center align-items-center">
			<div class="main_logo col d-flex justify-content-center border">
				<img src="{% static '/tipkor/img/logo.gif' %}" alt="">
			</div>
			<div class="hi_telefon col border ">
				<p class="fs-3 mb-0"><strong>8 (964) 571-65-51</strong></p>
			</div>
			<div class="hi_grafic col border" style="text-align: center;">
				<p class="fs-4  mb-0">пн-пт 10:00-18:00</p>

			</div>
			<div class="hi_watssap col-md-2 border">
				<div class="img_mess">
					<img id="hi_mess" src="" alt="">
					<a style="font-size: large;">whatssap</a>
				</div>
			</div>
			<div class="hi_teleg col-md-2 border">
				<div class="img_mess">
					<img id="hi_mess" src="" alt="">
					<a style="font-size: large;">telegram</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Навигация -->
	<div class="container pt-2">
		<div class="row">
			<div class="top_buttons d-flex justify-content-center border">

				<!-- Просто кнопки без выпадающего меню
				<a class="btn btn-primary flex-fill btn-lg  m-1" href="#poly">Полиграфия</a>
				<a class="btn btn-primary flex-fill btn-lg  m-1" href="#shiro">Широкоформатная печать</a>
				<a class="btn btn-primary flex-fill btn-lg  m-1" href="#stamp">Печати</a> -->

				<!-- Топ кнопки с выпадающим меню -->
				<div class="dropdown d-flex flex-fill">
					<a class="btn btn-primary flex-fill btn-lg  m-1 dropdown-toggle" href="#poly" role="button"
						id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
						Полиграфия
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="/poly/card">визитки</a></li>
						<li><a class="dropdown-item" href="/poly/leaflet">листовки</a></li>
						<li><a class="dropdown-item" href="/poly/booklet">буклеты</a></li>
					</ul>
				</div>

				<div class="dropdown d-flex flex-fill">
					<a class="btn btn-primary flex-fill btn-lg  m-1 dropdown-toggle" href="#poly" role="button"
						id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
						Широкоформатная печать
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="#poly">баннеры</a></li>
						<li><a class="dropdown-item" href="#">наклейки</a></li>
						<li><a class="dropdown-item" href="#">таблички</a></li>
					</ul>
				</div>

				<div class="dropdown d-flex flex-fill">
					<a class="btn btn-primary flex-fill btn-lg  m-1 dropdown-toggle" href="#poly" role="button"
						id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
						Печати
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="#poly">печати</a></li>
						<li><a class="dropdown-item" href="#">штампы</a></li>
						<li><a class="dropdown-item" href="#">другое</a></li>
					</ul>
				</div>


				<!-- Кноки с сворачивающиеся надо сделать -->

			</div>
		</div>
	</div>


	{% block content %}
	{% endblock %}



	<!-- FOOTER -->
	<div class="container fixed-bottom">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
					<svg class="bi" width="30" height="24">
						<use xlink:href="#bootstrap" />
					</svg>
				</a>
				<span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Company, Inc</span>
			</div>

			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

				<li class="ms-3"><a class="text-body-secondary" href="http://ya.ru">
						<img id="hi_mess" src="" alt=""></a></li>

				<li class="ms-3"><a class="text-body-secondary" href="http://ya.ru">
						<img id="hi_mess" src="" alt=""></a></li>

				<li class="ms-3"><a class="text-body-secondary" href="http://ya.ru">
						<img id="hi_mess" src="" alt=""></a></li>

			</ul>
		</footer>
	</div>
</body>

</html>