<!DOCTYPE html>

{% load static %}

<head>

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date();
			for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
			k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(94658024, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/94658024" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->

	{% block title_meta %}{% endblock %}

	<meta charset="UTF-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta name="yandex-verification" content="5fccdfbbfd32f5b2" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'tipkor/img/favicon.svg' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/tipkor.css' %}">

</head>

<body>

	<!-- Верхняя строка -->
	<div class="container pt-4">
		<div class="top_line row bg-light shadow border d-flex justify-content-center align-items-center rounded p-3">
			<div class="col d-flex justify-content-center ">
				<a href="/">
					<img class="main_logo" src="{% static '/tipkor/img/logo.svg' %}" alt="">
				</a>
			</div>
			<!-- телефон -->
			<div class="col hi_telefon">
				<div>
					<a class="fs-3 mb-0 link-dark" href="tel:+79645716551"><strong>+7 (964) 571-65-51</strong></a>
					<a class="fs-4 mb-0 link-dark" href="mailto:tipkor@mail.ru" target="_blank"
						style="font-size: 10px;">tipkor@mail.ru</a>
					<!-- <p class="fs-3 mb-0"><strong>8 (964) 571-65-51</strong></p> -->
				</div>
			</div>
			<!-- график работы -->
			<div class="col hi_grafic" style="text-align: center;">
				<p class="fs-4  mb-0">пн-пт 10:00-18:00</p>
			</div>

			<div class="hi_mess col-md-4">

				<div class="img_mess col">
					<a href="/#map">
						<img id="hi_map" src="{% static '/tipkor/img/map.svg' %}" alt="" style="padding-left: 5px">
						<a href="/#map"
							style="font-weight: 800; font-size: large; padding-left: 2px; padding-right: 15px">Карта</a>
					</a>

					<a href="https://wa.me/79645716551?text=" target="_blank">
						<img id="hi_mess" src="{% static '/tipkor/img/whatsap.svg' %}" alt="" style="padding-left: 5px">
						<a href="https://wa.me/79645716551?text=" target="_blank"
							style="font-weight: 800; font-size: large; padding-left: 2px">WhatsApp</a>
					</a>

					<a href="https://t.me/+79645716551" target="_blank">
						<img id="hi_mess" src="{% static '/tipkor/img/telegram.svg' %}" alt=""
							style="padding-left: 5px">
						<a href="https://t.me/+79645716551" target="_blank"
							style="font-weight: 800; font-size: large; padding-left: 2px">Telegram</a>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Строка важного объявления -->
	<!-- <div class="container pt-2">
		<div class="row bg-danger shadow d-flex justify-content-center rounded py-1">
			<h4 class="d-flex text-center justify-content-center text-light">С 28 декабря 2023 по 9 января 2024 - нерабочие дни.
			</h4>
		</div>
	</div> -->



	<!-- Навигация -->
	<div class="container my-4 py-2 bg-light shadow border rounded">
		<div class="top_buttons d-flex justify-content-center ">

			<!-- Топ кнопки с выпадающим меню -->
			<div class="dropdown d-flex flex-fill">
				<a class="btn btn-primary flex-fill btn-lg my-3 mx-2 dropdown-toggle" href="#poly" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Полиграфия (офсет)
				</a>
				<ul class="dropdown-menu dropdown-menu-dark">
					<li><a class="dropdown-item" href="/poly/card/#calc">Визитки</a></li>
					<li><a class="dropdown-item" href="/poly/leaflet/#calc">Листовки</a></li>
					<li><a class="dropdown-item" href="/poly/booklet/#calc">Буклеты</a></li>
				</ul>
			</div>

			<div class="dropdown d-flex flex-fill">
				<a class="btn btn-primary flex-fill btn-lg my-3 mx-2 dropdown-toggle" href="#wide" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Широкоформатная печать
				</a>
				<ul class="dropdown-menu dropdown-menu-dark">
					<li><a class="dropdown-item" href="/wide/banner/#calc">Баннеры</a></li>
					<li><a class="dropdown-item" href="/wide/sticker/#calc">Наклейки</a></li>
					<li><a class="dropdown-item" href="/wide/table/#calc">Таблички</a></li>
				</ul>
			</div>

			<div class="dropdown d-flex flex-fill">
				<a class="btn btn-primary flex-fill btn-lg my-3 mx-2 dropdown-toggle" href="#stamp" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Печати и штампы
				</a>
				<ul class="dropdown-menu dropdown-menu-dark">
					<li><a class="dropdown-item" href="/stamp/c_stamp/#calc">Печати</a></li>
					<li><a class="dropdown-item" href="/stamp/r_stamp/#calc">Штампы</a></li>
				</ul>
			</div>
		</div>
	</div>


	{% block content %}
	{% endblock %}


	<!-- FOOTER -->
	<div class="container bg-light shadow border rounded">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 ">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
					<svg class="bi" width="30" height="24">
						<use xlink:href="#bootstrap" />
					</svg>
				</a>
				<span class="mb-3 mb-md-0 text-body-secondary">&copy; 2014-2024 tipkor.ru</span>
			</div>

			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3">
					<iframe src="https://yandex.ru/sprav/widget/rating-badge/157431066949?type=rating&theme=dark" width="150" height="50" frameborder="0"></iframe>
				</li>

				<li class="ms-3">
					<a href="https://wa.me/79645716551?text=" target="_blank">
						<img id="hi_mess" src="{% static '/tipkor/img/whatsap.svg' %}" alt=""></a>
				</li>

				<li class="ms-3">
					<a href="https://t.me/+79645716551" target="_blank">
						<img id="hi_mess" src="{% static '/tipkor/img/telegram.svg' %}" alt=""></a>

				</li>

				<li class="ms-3">
					<a href="mailto:tipkor@mail.ru" target="_blank">
						<img id="hi_mess" src="{% static '/tipkor/img/email.svg' %}" alt=""></a>
				</li>

			</ul>
		</footer>
	</div>
	<script src="{% static 'tipkor/js/bootstrap.bundle.min.js' %}"></script>
	<!-- <script src="{% static 'tipkor/js/bootstrap.min.js' %}"></script> -->
	<script src="{% static 'tipkor/js/tipkor.js' %}"></script>
</body>

</html>