<!DOCTYPE html>

{% load static %}

<head>
	<title>tipkor.ru</title>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- insert href of fonts -->
	<link rel="icon" href="{% static 'tipkor/img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/tipkor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/expirement.css' %}">

	<script src="{% static 'tipkor/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'tipkor/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'tipkor/js/tipkor.js' %}"></script>
	<script src="{% static 'tipkor/js/bootstrap.js' %}"></script>
</head>




<body>
	<div class="container border py-5">
		<div class="row d-flex">

			<div class="box-1 column m-2 flex-fill">
			</div>
			<div class="box-2 column m-2 flex-fill">
			</div>
			<div class="box-3 column m-2 flex-fill">
			</div>
		</div>
	</div>





	<div class="container pt-5">
		<div class="row">
			<div class="col border">
				<a role="button" class="btn btn-primary w-100" data-bs-toggle="collapse" href="#collapseExample"
					role="button" aria-expanded="false" aria-controls="collapseExample">
					Ссылка с href
				</a>
			</div>

			<div class="col border">
				<a role="button" class="btn btn-primary w-100" data-bs-toggle="collapse" href="#collapseExample2"
					role="button" aria-expanded="false" aria-controls="collapseExample2">
					Ссылка с href
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col col-6">
				<div class="collapse" id="collapseExample">
					<div class="card card-body">
						<a class="btn btn-danger mt-1" href="www.ya.ru" role="button">BUTTON 1</a>
						<a class="btn btn-danger mt-1" href="www.ya.ru" role="button">BUTTON 1</a>
						<a class="btn btn-danger mt-1" href="www.ya.ru" role="button">BUTTON 1</a>
					</div>
				</div>
			</div>

			<div class="col col-6">
				<div class="collapse" id="collapseExample2">
					<div class="card card-body">
						<a class="btn btn-danger mt-1" href="www.ya.ru" role="button">BUTTON 1</a>
						<a class="btn btn-danger mt-1" href="www.ya.ru" role="button">BUTTON 1</a>
						<a class="btn btn-danger mt-1" href="www.ya.ru" role="button">BUTTON 1</a>
					</div>
				</div>
			</div>

		</div>
	</div>



	<div class="container">

		<div class="col border">
			<a role="button" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
				aria-controls="collapseExample3">
				Что такое оснастка?
			</a>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="collapse" id="collapseExample3">
					<div class="card card-body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur, rerum sed accusamus
							iste tempore ea nulla recusandae enim natus cumque aliquam aspernatur illo ab itaque ut sunt
							sapiente delectus.</p>
					</div>
				</div>
			</div>







			<!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" 2
				aria-expanded="false" aria-controls="collapseExample">
				Кнопка с data-target
			</button> -->


		</div>
	</div>


	</div>
</body>