<!DOCTYPE html>

{% load static %}

<head>
    <title>tipkor.ru</title>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- insert href of fonts -->
    <link rel="icon" href="{% static 'tipkor/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/tipkor.css' %}">
    <script src="{% static 'tipkor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tipkor/js/tipkor.js' %}"></script>
</head>