<!DOCTYPE html>

{% load static %}

<head>
	<title>tipkor.ru</title>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- insert href of fonts -->
	<link rel="icon" href="{% static 'tipkor/img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'tipkor/css/tipkor.css' %}">
	<script src="{% static 'tipkor/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'tipkor/js/tipkor.js' %}"></script>
</head>

<body>
	<div class="container pt-2">
		<div class="row d-flex justify-content-center">
			<div class="main_logo col d-flex justify-content-center border">logo</div>
			<div class="hi_telefon col border" style="text-align: center; font-size: large;">8 (964) 571-65-51</div>
			<div class="hi_grafic col border">пн-пт 10:00-18:00</div>
			<div class="hi_watssap col-md-2 border">
				<div class="img_mess">
					<img id="hi_mess" src="" alt="">
					<a style="font-size: small;">whatssap</a>
				</div>
			</div>
			<div class="hi_teleg col-md-2 border">
				<div class="img_mess">
					<img id="hi_mess" src="" alt="">
					<a style="font-size: small;">telegram</a>
				</div>
			</div>
		</div>

	</div>


	<div class="hi_imgage container p-3">
		<div class="row">
			<img class="col" id="header_img" src="" alt="">
		</div>
	</div>


	<div class="container p-3">
		<div class="row">
			<h1 id="slogan">Офсетная печать, широкоформатка, печати штампы</h1>
		</div>
	</div>
	</div><br><br>

	<div class="container">
		<h5 style="color: red;">Вывод информации из модели</h5>
		<br>
		card
		<div> {% for item in cards %}
			<p>{{item }}</p>
			{% endfor %}
		</div>-
		-
		<br>
		leaf
		<div> {% for item in leaf %}
			<p>{{item }}</p>
			{% endfor %}
		</div>
	</div>
	<br><br>

	<div class="container">
		<div class="row row-cols-1 row-cols-md-3">

			<!-- карточка вида заказа -->
			<div class="card_block p-3">
				<div class="card p-2 border">
					<img src="{% static '/tipkor/img/order_cost.jpg' %}" class="card-img-top"
						style="height: 100px; width: 300px;" alt="...">
					<div class="card-body">
						<h3 class="card-title">Печатей и штамп</h3>
						<p class="card-text">По кнопке якорь на прайс ниже</p>
						<a href="#" class="btn btn-primary px-5">Печати</a>
					</div>
				</div>
			</div>

			<div class="card_block p-3">
				<div class="card p-2 border">
					<img src="{% static '/tipkor/img/order_cost.jpg' %}" class="card-img-top"
						style="height: 100px; width: 300px;" alt="...">
					<div class="card-body">
						<h3 class="card-title">Полиграфия</h3>
						<p class="card-text">По кнопке якорь на прайс ниже.</p>
						<a href="#" class="btn btn-primary px-5">Полиграфия</a>
					</div>
				</div>
			</div>

			<div class="card_block p-3">
				<div class="card p-2 border">
					<img src="{% static '/tipkor/img/order_cost.jpg' %}" class="card-img-top"
						style="height: 100px; width: 300px;" alt="...">
					<div class="card-body">
						<h3 class="card-title">Широкоформатная печать</h3>
						<p class="card-text">По кнопке якорь на прайс ниже</p>
						<a href="#" class="btn btn-primary px-5">Сольвент</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row pt-3">
			<div class="col-12 d-flex justify-content-center">
				<h1>POLY</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="poly_text col-12 d-flex justify-content-center">
				<h3>Описание материалы и т.д.</h3>
			</div>
			<div class="poly_text col-12 d-flex justify-content-center">
				таблица сюда контекстом из базы данных инфу
			</div>
		</div>
	</div>


	<!-- <div class="container ">

		<div> контакты</div>
		<div> подвал </div>
	</div> -->
</body>

</html>