{% extends 'base.html' %}
{% load static %}

<!-- Блок главной страницы -->
{% block content %}
<!-- Картинка -->
<div class="hi_imgage container p-3">
    <div class="row">
        <img class="col" id="header_img" src="{% static '/tipkor/img/header_img.png' %}" alt="">
    </div>
</div>

<!-- Описание главная -->
<div class="container p-3">
    <div class="row">
        <h1 id="slogan">Офсетная печать, широкоформатка, печати штампы</h1>
        <a href="/expirement" target="_blank">
            <h1 id="slogan">Экспериметнальная страница</h1>
        </a>
    </div>
    <div>
        <p style="font-size: 18px; text-align: center; margin-top: 20px;">
            Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Reiciendis magnam eveniet culpa eum
            reprehenderit velit, cupiditate corrupti voluptatum, aliquam quibusdam aspernatur maiores quae adipisci
            est? Eaque quis delectus porro sunt.</p>
    </div>
</div>

<!-- Полиграфия -->
<div class="container border shadow">
    <div class="row pt-2">
        <h2 id="titles">Полиграфия</h2>
        <a name="poly"></a>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <!-- карточка вида заказа -->
        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/card.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Визитки</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="/poly/card" class="btn btn-primary px-5">Расчет визиток</a>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/leaflet.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Листовки</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="/poly/leaflet" class="btn btn-primary px-5">Расчет листовок</a>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/booklet.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Буклеты</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="/poly/booklet" class="btn btn-primary px-5">Расчет буклетов</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<!-- Широкоформатка -->

<div class="container border shadow">
    <div class="row pt-2">
        <h2 id="titles">Широкоформатка</h2>
        <a name="poly"></a>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <!-- карточка вида заказа -->
        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/banner.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Баннеры</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="#" class="btn btn-primary px-5">Расчет баннера</a>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/sticker.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Наклейеки</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="#" class="btn btn-primary px-5">Расчет наклйки</a>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/tablets.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Таблички</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="#" class="btn btn-primary px-5">Расчет таблички</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Печати -->
<div class="container border shadow">
    <div class="row pt-2">
        <h2 id="titles">Печати</h2>
        <a name="poly"></a>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <!-- карточка вида заказа -->
        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/circle_stamp.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Печати ИП ООО</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="#" class="btn btn-primary px-5">Заказ печати</a>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/stamp.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Штампы</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="#" class="btn btn-primary px-5">Заказ штампа</a>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card p-2 border shadow-sm">
                <img src="{% static '/tipkor/img/other_stamp.gif' %}" class="icard-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Другое</h3>
                    <p class="card-text">По кнопке якорь на прайс ниже.</p>
                    <a href="#" class="btn btn-primary px-5">Другое</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}