{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<title>Tipkor.ru</title>
<meta name="description" content="Tipkor.ru - Печать визиток, листовок, буклетов, баннеров, наклеек. Изготовление печатей, штампов и табличек."/>
{% endblock %}

<!-- Блок главной страницы -->
{% block content %}
<!-- Картинка -->
<!-- Описание главная -->
<!-- <div class="container py-3 bg-light shadow border rounded">
    <div class="row p-4 nopadding"> -->
<div class="container py-3 container-top shadow border rounded">
    <img src="{% static '/tipkor/img/image_top.jpg' %}" alt="Snow" class="w-100 rounded">
    <div class="centered w-100">
        <h1 class="top_text">ОФСЕТНАЯ ПЕЧАТЬ, ШИРОКОФОРМАТНАЯ ПЕЧАТЬ, ПЕЧАТИ И ШТАМПЫ</h1>
    </div>
</div>
<!-- </div>
</div> -->

<!-- Полиграфия -->
<div class="container bg-light shadow border rounded mt-4 pb-3 ">
    <div class="row py-2">
        <h1 id="titles">Полиграфия (офсетная печать)</h1>
        <hr>
    </div>

    <div class="row row-col-4">
        <!-- карточка вида заказа -->
        <div class="col">
            <div class="card text-center mx-3 mb-2 border border-3">
                <h3 class="card-header">Визитки</h3>
                <img src="{% static '/tipkor/img/card.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Заказ визиток. Офсетная печать от 1го дня.
                        Мелованный картон 300г/м.
                    </p>
                    <!-- <h5>Цена: 50 руб.</h5> -->
                    <a role="button" href="/poly/card/#calc" class="btn btn-primary px-5">Заказать визитки</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center mx-3 mb-2  border border-3">
                <h3 class="card-header">Листовки</h3>
                <img src="{% static '/tipkor/img/leaflet.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Заказ листовок. Офсетная печать от 1го дня.
                        Бумага на выбор 130г/м, 170г/м, 300г/м.
                    </p>
                    <!-- <h5>Цена: 50 руб.</h5> -->
                    <a role="button" href="/poly/leaflet/#calc" class="btn btn-primary px-5">Заказать листовки</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center mx-3 mb-2  border border-3">
                <h3 class="card-header">Буклеты</h3>
                <img src="{% static '/tipkor/img/booklet.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Изготовление буклетов. Евробуклет, гармошка, книжка.
                        Бумага на выбор.
                    </p>
                    <!-- <h5>Цена: 50 руб.</h5> -->
                    <a role="button" href="/poly/booklet/#calc" class="btn btn-primary px-5">Заказать буклеты</a>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br>

<!-- Широкоформатка -->
<div class="container bg-light shadow border rounded mt-4 pb-3">
    <div class="row pt-2">
        <h1 id="titles">Широкоформатная печать</h1>
        <hr>
    </div>
    <div class="row row-col-4">
        <!-- карточка вида заказа -->
        <div class="col">
            <div class="card text-center mx-3 mb-2  border border-3">
                <h3 class="card-header">Баннеры</h3>
                <img src="{% static '/tipkor/img/banner.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Изотовление баннеров. Установка люверсов. Интерьерная печать.
                    </p>
                    <!-- <h5>Цена: 50 руб.</h5> -->
                    <a role="button" href="/wide/banner/#calc" class="btn btn-primary px-5">Заказать баннер</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center mx-3 mb-2  border border-3">
                <h3 class="card-header">Наклейки</h3>
                <img src="{% static '/tipkor/img/sticker.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Печать широкоформатных наклеек. Интерьерая печать.
                    </p>
                    <!-- <h5>Цена: 50 руб.</h5> -->
                    <a role="button" href="/wide/sticker/#calc" class="btn btn-primary px-5">Заказать наклейки</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center mx-3 mb-2  border border-3">
                <h3 class="card-header">Таблички</h3>
                <img src="{% static '/tipkor/img/tablets.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Изготовление табличек. Маленьких и больших размеров. ПВХ 5мм с накаткой.
                    </p>
                    <!-- <h5>Цена: 50 руб.</h5> -->
                    <a role="button" href="/wide/table/#calc" class="btn btn-primary px-5">Заказать таблички</a>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br>

<!-- Печати -->
<div class="container bg-light shadow border rounded mt-4 pb-3">
    <div class="row pt-2">
        <h1 id="titles">Изготовление печатей и штампов</h1>
        <hr>
    </div>
    <div class="row row-col-3 justify-content-start">
        <!-- карточка вида заказа -->
        <div class="col">
            <div class="card text-center mx-3 mb-2  border border-3">
                <h3 class="card-header">Печати ИП, ООО</h3>
                <img src="{% static '/tipkor/img/c_stamp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Изготовление печатей. Новых и по оттиску. 3 вида оснасток. Срочное
                        изготовление.
                    </p>
                    <!-- <h5>Цена: 50 руб.</h5> -->
                    <a role="button" href="/stamp/c_stamp/#calc" class="btn btn-primary px-5">Заказать печать</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center mx-3 mb-2  border border-3">
                <h3 class="card-header">Штампы</h3>
                <img src="{% static '/tipkor/img/r_stamp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Изготовление штампов и факсимиле. Новых и по оттиску. Срочное изготовление.
                    </p>
                    <!-- <h5>Цена: 50 руб.</h5> -->
                    <a role="button" href="/stamp/r_stamp/#calc" class="btn btn-primary px-5">Заказать штамп</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center mx-3 mb-2  border border-3">
                <h3 class="card-header">Другие услуги</h3>
                <!-- <img src="{% static '/tipkor/img/r_stamp.jpg' %}" class="card-img-top" alt="..."> -->
                <div class="card-body d-grid gap-2">
                    <p class="card-text">Ризография, плоттерная резка, наклейки для упаковки. Разработка дизайна и
                        правка макетов.

                </div>
                </p>
                <!-- <h5>Цена: 50 руб.</h5> -->
                <a role="button" href="#" class="btn btn-primary px-5">Отправить запрос</a>
            </div>
        </div>
    </div>
</div>

<div id='map' class="container bg-light shadow border rounded mt-4 p-3">

    <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A02334a9e6f8d40bac72514daa31888f4dae190ef0d36ae4edf855fd230598474&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

</div>
</div>
<br><br>
{% endblock %}