{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stamp/css/stamp.css' %}">
</head>
<br>



<div class="container">
    <div class="card_text">
        <p>-----------------</p>
    </div>
    <h1 class="title_text">Печати</h1>
</div>

<!-- Форма -->
<div class="container">
    <div class="card_form border shadow p-3">
        <div class="row">

            <div class="col-xl-5 col-lg-7 col-md-8 col-sm-6">
                <form class="form-control-lg " action="{% url 'stamp:c_stamp' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ form.new_or_no}}</div>
                        <div class="col">{{ form.express }}<p>Срочно (+500 руб.)</p>
                        </div>
                    </div>

                    <div class="row pt-4">

                        <div class="col">{{ form.snap }}<p>Оснастка</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="col">{{ form.count }}<p>Количество</p>
                            </div>
                            <button type="submit" class="calc_button btn btn-primary"
                                name="{{ form.prefix }}">Расчет</button>
                            <!-- <button href="{% url 'poly:card' %}" class="reset_button btn btn-danger" value="Сброс">Сброс</button> -->
                        </div>
                    </div>
                </form>
            </div>

            <div class="card_img col">
                картинка печать
            </div>
        </div>
        <!-- Результат -->
    </div>
</div>

<br><br>
<div class="container">
    <div class="result_info p-3 border shadow">
        <div class="row px-3">
            <div class="col col-xl-3">
                {% if result.id %}
                <h3>Стоимость: {{ result.cost|default:"Сделайте расчет" }} руб.</h3>
                <h5>Срочно: {{ result.express|yesno:"Да,Нет" }}</h5>
                <h5>Оснастка: {{ result.snap }}</h5>
                <h5>Количество: {{ result.count }} штук.</h5>
            </div>
            <div class="col">
                <h3 style="color: rgb(1, 58, 124);">Готовность: {{ ready_date|date:"d.m.Y" }}</h3>
                <p>При заказе сегодня до 15:00</p>
            </div>

            <!-- <div class="pt-4">
                <a class="confirm_button btn btn-success" href="confirm/{{ result.id }}"> заказать</a>
            </div> -->
            <div class="more_info">
                <h6>Нажмите "заказать", что бы отправить нам заказ.</h6>
            </div>

            <div>
                <form class="form-control-lg " action="{% url 'stamp:confirm' %}" method="post" enctype="multipart/form-data">

                    <div class="row border">
                        {% csrf_token %}
                        {{ confirm_form.id_stamp_obj }}
                        <div class="col">{{ confirm_form.comment }}<p>ИНН (если есть)</p>
                        </div>
                        <div class="col border">{{ confirm_form.file }}<p>макет</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border">{{ confirm_form.name }}<p>Имя</p>
                        </div>tipkor@mail.ru
                        <div class="col border">{{ confirm_form.email }}<p>почта</p>
                        </div>
                        <div class="col border">{{ confirm_form.tel }}<p>телефон</p>
                        </div>
                    </div>
            </div>


            <div class="row">
                <div class="col border">
                    <button style="width: 200px;" type="submit" class="yes_button btn btn-primary"
                        name="{{ confirm_form.prefix }}">заказать</button>
                    <!-- <button href="{% url 'poly:card' %}" class="reset_button btn btn-danger" value="Сброс">Сброс</button> -->
                </div>
            </div>
            </form>

        </div>
        {% else %}
        <h4>{{ result.cost }}</h4>
        <h2 style="color: rgb(145, 1, 30);">Выбирете параметры и нажмите "Расчет".</h2>

        {% endif %}
    </div>
</div>

</div>

<div class="container">
    <div class="bottom_text pt-4"></div>
    <div class="row px-3">
        <div class="col">
            <h5>Буклеты</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem commodi dicta, fuga repellat
                minus
                mollitia eveniet perferendis, incidunt alias quod a tempore quis magni numquam laboriosam, illo
                provident
                tempora!</p>
        </div>
    </div>
</div>


<br><br>

{% endblock %}