.img_mess {
        display: flex;
        justify-content: center;

}

#hi_mess {
    height: 10px;
    width: 10px;
    background: green;
}



#header_img {
    height: 80px;
    width: auto;
    background: green;
}

#slogan {
    text-align: center;
    color: rebeccapurple;
}

@media screen and (max-width: 992px) {
    .hi_grafic {
        display: none;
    }

    .text {
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {


    .row {
        display: flex;
        flex-direction: column;
    }
    .resume_block {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .text {
        margin-top: 15px;
    }

}