

.img_mess {
        display: flex;
        justify-content: center;
        align-items: center;
}

#hi_mess {
    height: 30px;
    width: 30px;
    background: green;
}

.hi_telefon {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#header_img {
    height: 80px;
    width: auto;
    background: rgb(0, 58, 108);
}


#slogan {
    text-align: center;
    color: rebeccapurple;
}

#titles {
    text-align: center;
    color: rgb(1, 100, 128);
}

.dropdown-menu {
    min-width: 250px;
    font-size: x-large;
    font-weight: 600;
  }

.disabled {
    
}
.size {
    width: auto;
}

.pressrun {
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 992px) {
    .hi_grafic {
        display: none;
    }

    .text {
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .top_line {
        padding: 10px !important;
    }


    .row {
        display: flex;
        flex-direction: column;
    }
    .top_buttons {
        flex-direction:column;
        /* align-content: stretch; */
    }
    
    .text {
        margin-top: 15px;
    }

}