.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    color: #292929;
}

.header {
    height: 100px;
    background-color: hsl(185, 67%, 59%);
    padding-top: 35px;
}

.my-logo {
    font-weight: 500;
}

.resume-content {
    margin-top: 50px;
}

.resume-content__text {
    font-size: 16px;
}

.resume-content__dwnld {
    margin-top: 51px;
    margin-bottom: 20px;

}

.explain {
    font-size: 15px;
    color: #7B7B7B;
    letter-spacing: 0.03em;
}


.btn {
    text-transform: capitalize;
    letter-spacing: 0.15em;
    color: azure;
    font-size: 26px;
    background: #146B9C;
    width: 235px;
    height: 50px;
    border-radius: 0;
    transition: all 0, 5s ease;
}

.btn:hover {
    background: #071a25;
    color: azure;
}

.icon-dwn {

    margin-left: 27px;
}

.icon-dwn img {
    margin-left: 27px;
    width: 50px;
    height: 50px;
}

.resume-content__dwnld__btn {
    margin-left: -27px;
}

.my_photo {
    width: 300px;
    height: auto;
}

.title_project {
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 60px;
}

/* .order_cost {
    
} */

.projects_img {
    width: 405px;
    height: 400px;
}

.projects_title {
    text-transform: uppercase;
    font-weight: bold;
}

.projects_text {
    font-size: 26px;
}

.projects_dwnl {
    margin-right: 27px;
}

.parser {
    margin-top: 150px;
}

.evernotion {
    margin-top: 150px;
}

.pdf-reader {
    margin-top: 150px;
}

.other-ph {
    width: 404px;
    height: 303px;
}

.other-ph_title {
    text-transform: capitalize;
    font-size: 30px;
    display: block;
    font-weight: bold;
}

.other-ph_text {
    font-size: 26px;
}

.other-ph_link {
    margin-top: 60px;
}

.other-ph_link img {
    height: 30px;
    width: 30px;
}

.other-ph_link a {
    font-size: 30px;
}

.footer {
    background-color: rgb(132, 216, 241);
    height: 200px;
}

.other-ph img {
    height: 150px;
    width: 300px;
}

.footer_content {
    padding-top: 30px;

}

/* Media requests */
@media screen and (max-width: 1000px) {
    .my_photo {
        display: none;
    }

    .projects_img {
        display: none;
    }

    .container > .offset-1 {
        offset: none;
    }
    
}