{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'poly/css/card.css' %}">
</head>

<div class="container">
    <br>
    Форма расчета заказа визиток: размер - неактивен, тираж меняется по 500шт, дуплекс как есть
    <br>
    <br>
    <div class="card_form row ">
        <div class="calc col-xl-5 col-lg-7 col-md-8 col-sm-6 col-10 ">
            <form class="form-control form-control-lg " action="{% url 'poly:card' %}" method="post">
                {% csrf_token %}
                <div class="row border">
                    <div class="form_label col border">{{ form.x }}<p>ширина(мм):</p></div>
                    <div class="form_label col border">{{ form.y }}<p>высота(мм):</p></div>
                </div>

                <div class="row border pt-4">
                    <div class="form_label col border">{{ form.duplex }}<p>4+4/4+0:</p></div>
                    <div class="form_label col border">{{ form.pressrun }}<p>тираж(шт):</p></div>
                </div>

                <div class="row">
                    <div class="col border">
                        <input type="submit" class="btn btn-primary" value="Расчет"></input>
                        <a href="{% url 'poly:card' %}" class="btn btn-danger">Сброс</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="card_img col border">
            img
        </div>
    </div>

    <div class="row border mt-4">
        <h1 style="color: red;">Цена тиража: {{ result }}</h1>
    </div>

</div>

</form>

<div></div>

<br><br>



{% endblock %}