{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<title>Подтверждение заказа</title>
<meta name="description" content="Подтверждение заказа полиграфической продукции."/>
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'poly/css/poly.css' %}">
</head>
<br>


<div class="container bg-success bg-opacity-25 shadow rounded">

    <div class="confirm_order py-3">
        <div class="row py-3 mx-1 rounded bg-light shadow">

            <div class="row px-3">
                <h1 id="a_confirm">Подтверждение заказа</h1>
                <h2>{{ type_production }}</h2>
                <div class="col col-xl-3">
                    <h3>Стоимость: {{ cost }} руб.</h3>
                    <h5>Формат: {{ order.format_p }}</h5>
                    <h5>Материал: {{ order.paper }} г/м</h5>
                    <h5>Двухсторонняя печать: {{ order.duplex|yesno:"Да,Нет" }}</h5>
                    {% if order.post_obr %}
                    <h5>Тип буклета: {{ order.post_obr }}</h5>
                    {% endif %}
                    <h5>Тираж: {{ order.pressrun }} штук.</h5>
                </div>
                <div class="col">
                    <h3 style="color: rgb(1, 58, 124);">Готовность: {{ ready_date.date }} После 14:00</h3>
                    <p>При согласовании сегодня до 15:00</p>
                </div>
            </div>
        </div>

        <form class="form-control-lg bg-light bg-opacity-75 shadow border rounded mt-4 mx-1 "
            action="{% url 'poly:confirm' order.id %}" method="post" enctype="multipart/form-data">

            <div class="row">
                {% csrf_token %}
                {{ form.type_production }}

                <div class="pb-4">
                    <p>Прикрепите файл: </p><h4>До 10Мб, если больше пришлите на почту/мессенджеры или ссылкой в комментарии</h4>
                    {{ form.file }}
                </div>

                <div>
                    <p>Kомментарий к заказу:</p>
                    <p>{{ form.comment }}</p>
                </div>
            </div>

            <!-- Данные клиента -->
            <br>
            <div class="row p-3 mx-1 border border-success bg-success bg-opacity-25 border-2 rounded">
                <h3>Контактные данные:</h3>
                <div class="col">
                    <p>Имя: </p>{{ form.name }}
                </div>
                <div class="col">
                    <p>E-mail: </p>{{ form.email }}
                </div>
                <div class="col">
                    <p>Телефон: </p>{{ form.tel }}
                </div>
            </div>


            <div class="row pt-4">
                <div class="col ">
                    <button style="width: 200px;" type="submit"
                        class="yes_button btn btn-success  mx-1">Заказать</button>
                    <div>
                        <h6 style="padding-left: 5px;">Нажмите "заказать", что бы отправить нам заказ.</h6>
                        <p style="padding-left: 5px; font-size: 12px;">Нажав "Заказать" Вы автоматически соглашаетесь с <a target="_blank" style="color: rgb(0, 56, 121);" href="/politica/">политикой о конфиденциальности данных.</a></p>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>






<br><br>



{% endblock %}