{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'poly/css/card.css' %}">
</head>
<br>
<br>
<br>


<div class="container">
    <div class="card_text">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem commodi dicta, fuga repellat
            minus
            mollitia eveniet perferendis, incidunt alias quod a tempore quis magni numquam laboriosam, illo provident
            tempora!</p>
    </div>
    <h1>Подтвердить заказ</h1>
    <div>
        {{ result }}
    </div>
</div>





</div>

<br><br>



{% endblock %}