{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<title>Спасибо за заказ</title>
<meta name="description" content="Успешно оформлен заказ полиграфической продукции."/>
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'poly/css/card.css' %}">
</head>
<br>



<div class="container rounded bg-light shadow p-3">
    <div class="confirm_order ">
        <div class="row">

            <h2 id="a_success">Заказ №{{ order.id }} размещен от {{ order.create_date }}</h2>

            <div>

                <div class="col">
                    <h4>Стоимость: {{ order.product.cost }} руб.</h4>
                    <h5>Продукция: {{ order.product.type_production }}</h5>

                    <h5>Формат: {{ order.product.format_p }}</h5>
                    <h5>Материал: {{ order.product.paper }} г/м</h5>
                    <h5>Двухсторонняя печать: {{ order.product.duplex|yesno:"Да,Нет" }}</h5>
                    {% if order.product.post_obr %}
                    <h5>Тип буклета: {{ order.product.post_obr }}</h5>
                    {% endif %}
                    <h5>Тираж: {{ order.product.pressrun }} штук.</h5>

                    <div class="col">
                        <h3 style="color: rgb(1, 58, 124);">Готовность: {{ order.ready_date.date }}</h3>
                    </div>
                    <div class="col">
                        <h5>После проверки заказа, свяжемся с вами.</h5>
                    </div>
                </div>
            </div>
        </div>
        <a href="/" type="button">На главную</a>
    </div>
</div>
    <br><br>



    {% endblock %}