.card_img {
    background-color: blue;
}

#id_x, #id_y, #id_duplex, #id_pressrun  {
    height: 40px;
    width: 150px;
}

.yes_button {
    height: 30px;
    width: 100px;
}

.reset_button {
    height: 30px;
    width: 50px;
    padding-top: 5px;
    padding-left: 7px;
}





/* md срабатывает меньше 992 */
@media screen and (max-width: 992px) {

}

/* sm срабатывает меньше 768 */
@media screen and (max-width: 768px) {


    .card_form {
        flex-direction: row;
        background-color: red;
    }

    .calc {

        background-color: blue;
    }


    .card_img {
        background-color: aquamarine;

    }
        
}

/* xs срабатывает меньше 576px */
@media screen and (max-width: 576px) {

    .yes_button {
        height: 30px;
        width: 80px;
    }

    .reset_button {
        height: 30px;
        width: auto;
        padding-top: 5px;
        padding-left: 7px;
    }

    .card_form {
        flex-direction: row;
        background-color: red;
    }

    .calc {
        background-color: rgb(16, 244, 16);
    }

    .card_img {
        display: none;        
    }
}