.how_snap {
    color: #0d6efd;
    font-weight: 800;

}

.card-header {
    color: rgb(13, 110, 253);
    font-weight: 800;
    background-color: rgba(13, 110, 253, 0.05);
    border-bottom: 0px;
}
.card-header-tabs {
    margin-right: 0;
    margin-left: 0;
  }

.title_text {
    font-weight: 800;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

#id_form-express {
    height: 20px;
    width: 20px;
}

#id_form-snap,
#id_form-count {
    height: 40px;
    width: 200px;
}

.calc_button {
    height: 30px;
    width: 200px;
}

.calc_img {
    display: flex;
    width: 100%;
    height: 280px;
    justify-content: center;
}

.confirm_button {
    height: 30px;
    width: 200px;
}

#id_confirm_form-comment {
    width: 50%;
    height: 100px;
}

/* Медиазапросы */
/* md срабатывает меньше 992 */
@media screen and (max-width: 992px) {
    .calc_img {
        display: none;
    }
}

/* sm срабатывает меньше 768 */
@media screen and (max-width: 768px) {
    .calc_img {
        display: none;
    }

}

/* xs срабатывает меньше 576px */
@media screen and (max-width: 576px) {

    .calc_button {
        height: 30px;
        width: 150px;
    }

    .calc_img {
        display: none;
    }

    #id_confirm_form-comment {
        width: 100%;
        height: 100px;
    }

    #id_confirm_form-name,
    #id_confirm_form-email,
    #id_confirm_form-tel {
        width: 100%;
    }
}