.title_text {
    font-weight: 800;
}


.calc_img {
    display: flex;
    width: 100%;
    height: 280px;
    justify-content: center;
}

input[type=radio] {
    /* padding-left: 20px!important; */
    width: 20px;
    height: 20px;
}


#id_form-express {
    /* padding-left: 0px!important; */
    height: 20px;
    width: 20px;
}


#id_form-snap,
#id_form-count {
    height: 40px;
    width: 200px;
}

.calc_button {
    height: 30px;
    width: 200px;
}

.confirm_button {
    height: 30px;
    width: 200px;
}

#id_confirm_form-comment {
    width: 50%;
    height: 100px;
    /* box-sizing: border-box; */
}


/* md срабатывает меньше 992 */
@media screen and (max-width: 992px) {
    .calc_img {
        display: none;
    }
}

/* sm срабатывает меньше 768 */
@media screen and (max-width: 768px) {
    .calc_img {
        display: none;
    }

}

/* xs срабатывает меньше 576px */
@media screen and (max-width: 576px) {

    .calc_button {
        height: 30px;
        width: 150px;
    }

    .calc_img {
        display: none;
    }

    #id_confirm_form-comment {
        width: 100%;
        height: 100px;
        /* box-sizing: border-box; */
    }
}